@page
@model Online_Gift_Delivery_Core_Web.Pages.Gifts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Gifts</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">+ Add New Gift</a>
</p>

@foreach (var item in Model.Gift)
{

    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">@item.ItemName</h5>
            <h6 class="card-subtitle mb-2 text-muted">Price : $ @item.ItemPrice</h6>
          
            <a class="btn btn-primary" asp-page="/GiftPurchases/Create" asp-route-id="@item.Id">Send Gift</a>
            <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id"> Details </a>

            <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@item.Id"> Delete </a>
        </div>
    </div>



 


}
